div {
    width: 100%;
}

div.window {
    position: absolute;
    border: 3px solid black;
    height: 75%;
    line-height: 5px;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

ul.message-list {
    padding-left: 3px;
}

ul.message-list > li {
    height: 20px;
}

ul#tablist {
    padding: 0px;
    margin: 0px;
    height: 10%;
    position: absolute;
    top: 80%;
}

ul#tablist > li{
    float: left;
    padding: 5px;
    margin: 2px;
    border: 2px solid;
}

ul#tablist > li.selected {
    border-color: red;
}

div#message-form {
    position: absolute;
    top: 90%;
    height: 10%;
    float: left;
    clear: both;
}

div#message-form input#message {
    width: 90%;
}