
div#window-container {
    position: absolute;
    border: 3px solid black;
    width: 75%;
    height: 75%;
    background-color: grey;
}

div.window {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 5px;
    overflow-y: scroll;
    z-index: 10;
    background-color: white;
}

div#user-list-container {
    margin: 0px;
    position: absolute;
    border: 3px solid black;
    left: 76%;
    width: 20%;
    height: 75%;
    background-color: grey;
}

ul.user-list {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 5px;
    overflow-y: scroll;    
    z-index: 10;
    background-color: white;
}


ul.user-list > li {
    padding-left: 2px;
    padding-top: 8px;
}

ul {
    list-style-type: none;
}

ul.message-list {
    padding-left: 3px;
}

ul.message-list > li {
    height: 20px;
}

ul#tablist {
    padding: 0px;
    margin: 0px;
    height: 10%;
    position: absolute;
    top: 80%;
}

ul#tablist > li{
    float: left;
    padding: 1px;
    margin: 1px;
}

ul#tablist > li.selected {
    border-color: red;
}

ul#tablist > li.selected > button {
    font-weight: bold;
}

div#message-form {
    position: absolute;
    top: 90%;
    height: 10%;
    width: 99%;
    float: left;
    clear: both;
}

div#message-form input#message {
    width: 90%;
}